// Colours
$grey-light:    #F0F0F0;
$blue:          #3E6990;
$blue-dark:     #1D3142;
$green:         #8AA460;
$orange:        #F39B6D;
$yellow:        #E9E3B4;
$text:          #737373;

// FOnts
$body-font: 'Open Sans', sans-serif;
$title-font: 'Merriweather', serif;